<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  
  <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
  <property name="hibernate.connection.password">insuranceapp</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:john</property>
  <property name="hibernate.connection.username">insuranceapp</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.cache.provider_class">org.hibernate.jpa.HibernatePersistenceProvider</property>
  
  <mapping class="com.model.AutoData"/>
  <mapping class="com.model.AutoPolicy"/>
  <mapping class="com.model.Benefit"/>
  <mapping class="com.model.Country"/>
  <mapping class="com.model.Coverage"/>
  <mapping class="com.model.Customer"/>
  <mapping class="com.model.Disease"/>
  <mapping class="com.model.HealthData"/>
  <mapping class="com.model.HealthPolicy"/>
  <mapping class="com.model.InsurancePlan"/>
  <mapping class="com.model.InsurancePolicy"/>
  <mapping class="com.model.Medication"/>
  <mapping class="com.model.TravelData"/>
  <mapping class="com.model.TravelPolicy"/>
  <mapping class="com.model.Vehicle"/>
  <mapping class="com.model.Profile"/>
 </session-factory>
</hibernate-configuration>
