<!DOCTYPE html>
<html ng-app="App">

	<head>
		<meta charset="utf-8"/>
		<title>Main Page</title>

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
		<link href="css/app.css" rel="stylesheet" />
		
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    	<script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.3/angular.js" data-semver="1.2.3"></script>
    	<script type="text/javascript" src="lib/ng-grid.debug.js"></script>
    	<!-- <script type="text/javascript" src="http://angular-ui.github.com/ng-grid/lib/ng-grid.debug.js"></script>  -->  	
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-resource.js"></script>
    	
    	<!-- Local app logic -->
    	<script type="text/javascript" src="js/app.js"></script>	
    	<script type="text/javascript" src="js/services.js"></script>	
    	<script type="text/javascript" src="js/controllers.js"></script>	
    	
    		
	</head>

	<body data-ng-controller="mainController">
		<p>Career Path WebApplication 4.0</p>
		<nav class="{{active}}" >
			<a href="#/view1" class="companyList" ng-click="active='companyList'">Companies</a>
			<a href="#/view2" class="companyForm" ng-click="active='companyForm'">Company-Form</a>
			<a href="#/view3" class="companyJobOffers" ng-click="active='companyJobOffers'">Company - JobOffers</a>
			<a href="#/jobSeeker" class="jobSeekerList" ng-click="active='jobSeekerList'">JobSeekers</a>
			<a href="#/jobSeekerForm" class="jobSeekerForm" ng-click="active='jobSeekerForm'">JobSeeker-Form</a>
			<a href="#/jobOffer" class="jobOfferList" ng-click="active='jobOfferList'">JobOffers</a>
			<a href="#/about" class="about" ng-click="active='about'">About</a>
			<a href="https://github.com/silverfang94/myRepo/tree/master/SAM1" /*class="GitHubLink" ng-click="active='GitHubLink'"*/>GitHub</a>
		</nav>
		
		
		<!-- Placeholder for view -->
		<table style="margin-left:auto;margin-right:auto;">
			<tr>
				<td><div data-ng-view="partials/view1.html"></div></td>
			</tr>
		</table>

	</body>
</html>